<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<select id="getList" resultType="org.zerock.domain.BoardVO"> <!-- resultType이란 select 된 데이터를 반환할 (그릇)을 정해주는것 -->
	<![CDATA[
		select * from tbl_board where bno>0 and rownum<=100	
	]]> <!-- CDATA는 문자 그대로를 읽어주는것 < > 이두개는 태그를 여닫는 용도로 사용되기때문에  &lt , &gt , &amp 와 같은 문자를 사용하여야 하는데 가독성이
			 좋지않기 때문에 CDATA로 감싸주는것 -->
	</select>
	
	<insert id="insert">
		insert into tbl_board(bno,title,content,writer)
		values(seq_board.nextval,#{title},#{content},#{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long"> <!-- keyProperty : 값에 아래의 sql 결과를 넣어주겠다 -->
			select seq_board.nextval from dual							<!-- order는 언제인지를 말하는듯 BEFORE기때문에 실행 전을 넣어주겠다 이런ㅇㅇ느낌  -->
		</selectKey>													<!-- dual은 가상 테이블로 seq_board.nextval을 실행시키기위해 있는것 -->
		insert into tbl_board(bno,title,content,writer)
		values(#{bno},#{title},#{content},#{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO"> 
		select * from tbl_board where bno=#{bno}    
	</select>
	
	<delete id="delete">
		delete tbl_board where bno=#{bno}
	</delete>
	
	<update id="update">
		update tbl_board set title=#{title},content=#{content},writer=#{writer},updateDate=sysdate
		where bno=#{bno}
	</update>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board
		where
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
		
		bno>0
	</select>
	
	
	
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
		select bno,title,content,writer,regdate,updatedate
		from (
			select /*+index_desc(tbl_board pk_board)*/ 
				rownum rn,bno,title,content,writer,regdate,updatedate
			from tbl_board
			where  
		]]>	<!-- /*+index_desc(tbl_board pk_board)*/ 쿼리힌트로 셀렉시 이대로 셀렉하라고 지정해주는것 프라이머리키 보드를 desc해서 가져오라는 뜻   -->
			
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
			
			
		<![CDATA[
			 rownum<=#{pageNum} * #{amount}
		)
		where rn>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	
</mapper>